- if params[:page].nil? || params[:page].to_i == 1
  .welcome
    %p Welcome to <span class='callout'>rdoc.info</span><sup>(&beta;eta)</sup>, your source for open source Ruby documentation.
    %img{:src => '/images/cthulhu.png', :width => 150, :height => 138, :alt => 'cthulhu approved'}
    %p We create swanky online API docs from the freshest <a href='http://github.com'>GitHub</a> projects so you don't have to. Also, we're <span class='callout'>Cthulhu-approved</span>.
    %p Problems or suggestions? <a href='http://github.com/zapnap/rdocinfo/issues' target='_blank'>contact us</a>
    %p.small rdoc.info is &copy; 2009 <a href='http://nthmetal.com'>Nth Metal Interactive</a>. Docs by <a href='http://github.com/lsegal/yard'>YARD</a>.

= haml(:_project_list, :layout => false)

= paginate((params[:page] || 1).to_i, @pages, :default_css => false)

= haml(:_sponsor, :layout => false)

.new.button
  %a{:href => '/projects/new'} New Project
