%ul.projects
  - @projects.each do |project|
    %li.project{:id => "project-#{project.id}"}
      %a{:href => project.rdoc_url}= "#{project.owner} / #{project.name}"
.new.button
  %a{:href => '/projects/new'} New Project
