.explanation
  %p Are we missing documentation for your favorite Ruby project? Use the following form to submit a request and we'll add it immediately. Note that we currently only support projects hosted on <a href='http://github.com'>GitHub</a>. If you're the project author, make sure to add the following post-commit hook:

  %code http://rdoc.info/projects/update

  %p By adding this hook, our documentation will automatically regenerate whenever you push updates to your code.

%form{:action => '/projects', :method => 'post'}
  .owner
    .label
      %label{:for => 'owner'} GitHub User
    .field
      %input{:type => 'text', :name => 'owner'}
  .name
    .label
      %label{:for => 'name'} Project Name
    .field
      %input{:type => 'text', :name => 'name'}
  %input.button{:type => 'submit', :value => 'Submit'}
