%h2 Submit a new Project
%form{:action => '/projects', :method => 'post'}
  .owner
    .label
      %label{:for => 'owner'} GitHub User
    .field
      %input{:type => 'text', :name => 'owner'}
  .name
    .label
      %label{:for => 'name'} Project Name
    .field
      %input{:type => 'text', :name => 'name'}
  %input{:type => 'submit'}
