.explanation
  %p Are we missing documentation for your favorite Ruby library? Use the following form to submit a request and we'll add it immediately. Note that we currently only support projects hosted on <a href='http://github.com'>GitHub</a>. Or if you're the project author, simply add the following post-commit hook:

  %code http://rdoc.info/projects/update

  %p By adding this hook, our documentation will automatically regenerate<sup><a href='#note'>1</a></sup> whenever you push updates to your code.

- unless @project.errors.empty?
  .errors
    .title The following errors occurred!
    %ul
      - @project.errors.full_messages.each do |error|
        %li.error= error

%form{:action => '/projects', :method => 'post'}
  .owner
    .label
      %label{:for => 'owner'} GitHub User
    .field
      %input{:type => 'text', :name => 'owner', :value => @project.owner}
  .name
    .label
      %label{:for => 'name'} Project Name
    .field
      %input{:type => 'text', :name => 'name', :value => @project.name}
  .commit_hash
    .label
      %label{:for => 'commit_hash'} Commit (optional, leave blank for current)
    .field
      %input{:type => 'text', :name => 'commit_hash', :value => @project.commit_hash}
  %input.button{:type => 'submit', :value => 'Submit'}

.explanation.small
  %p <a name='note'>1.</a> We proudly use Loren Segal's <a href='http://github.com/lsegal/yard'>YARD</a> library to generate documentation. This means that you can take advantage of meta <tt>@tags</tt> alongside regular code. If you'd like to customize the classes that we index, create a <tt>.document</tt> file in the root directory of your GitHub project. Each line of the file should contain a file or pattern to include (default: <tt>lib/**/*.rb</tt>).
