.centerbox
  .title Documentation Error
  %p.error
    Something about this project or .document / yardopts caused the documentation generator to cough up blood. Eek!
    The error has been logged and we'll look into it shortly.
  %p.error
    Also, if you like, you can <a href='http://github.com/zapnap/rdocinfo/issues' target='_blank'>file an issue</a> on GitHub.
    Sorry for the temporary inconvenience!
