.centerbox
  .title Documentation Error
  %p.error
    Something about your project or .document / yardopts caused the documentation generator to cough up some blood. Sorry about that!
    The error has been logged and we'll look into it shortly.
    If you like you can <a href='http://github.com/zapnap/rdocinfo/issues' target='_blank'>file an issue</a> on GitHub.
