body {
  font-family: Myriad, Helvetica, Arial, Verdana, sans-serif; 
  font-size: 1em;
  background: #FFF;
  color: #222;
  margin: 0;
  padding: 0;
  height: 100%;
}
.page {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  color: #CCC;
  width: 100%;
  height: 40px;
}
.header .title {
  padding: 0.7em 1em 0 1em;
  letter-spacing: 1.5px;
  float: left;
}
.header .info {
  padding: 0.7em 1em 0 1em;
  float: right;
}
.main {
  margin: 30px 0 20px 0;
  padding: 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
}
.callout {
  font-weight: bold;
  text-decoration: underline;
}
sup {
  font-size: 0.6em;
}
.centerbox {
  width: 500px;
  padding: 0 1em;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 4em auto 0;
  border: 4px solid #666;
  background-color: #222;
  color: #CCC;
}
.centerbox p a {
  color: #FFF;
}
.centerbox .title {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  color: #D8FA3C;
}
a, span.name {
  color: #D8FA3C;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container iframe {
  width: 100%;
}
ul.projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.projects li {
  display: block;
  border-bottom: 1px solid #CCC;
  padding: 0.5em 0 0.5em 0;
}
ul.projects li a {
  padding-left: 0.5em;
}
ul.projects li a:hover {
  text-decoration: none;
}
ul.projects li.highlight {
  background: #EEE;
}
ul.projects li.highlight a {
  color: #222;
}
.main .welcome {
  float: right;
  width: 440px;
  padding: 0 1em;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 1em 1em 0 0;
  border: 4px solid #666;
  background-color: #eee;
}
.main .welcome img {
  float: right;
  margin: 0 10px 0 20px;
}
.main a {
  font-weight: bold;
  color: #666;
}
.main .new {
  margin-top: 2em;
}
.button a {
  padding: 0.5em;
  border: 1px solid #CCC;
  background: #EEE;
}
.button a:hover {
  text-decoration: none;
}
.button a.highlight {
  color: #222;
  border: 1px solid #222;
  background: #CCC;
}
.explanation {
  width: 600px;
}
.small {
  font-size: 0.7em; 
  color: #666;
}
.explanation.small {
  margin-top: 4em;
  border-top: 1px dotted #666;
}
.label {
  font-weight: bold;
  color: #666;
}
.field {
  margin-bottom: 0.5em;
}
input.button {
  font-size: 1em;
  font-weight: bold;
  background: #EEE;
  color: #666;
  border: 1px solid #CCC;
  padding: 0.5em;
}
input.highlight {
  color: #222;
  background: #CCC;
  border: 1px solid #222;
}
.errors {
  border: 1px solid #666;
  background: #FFEAE8;
  color: #666;
  margin: 1em 0;
  width: 600px;
}
.errors .title {
  border-bottom: 1px solid #666;
  background: #222;
  color: #CCC;
  font-weight: bold;
  padding: 0.5em;
}
.paginated {
  margin-top: 1em;
  font-weight: bold;
  color: #AAA;
  font-size: 0.8em;
}
.paginated ul, .paginated ul li {
  display: inline;
  margin: 0 3px;
  padding: 0;
} 
.paginated ul li.current_page {
  color: #222;
  border-bottom: 2px solid #222;
}
.paginated a:hover {
  margin: 0;
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222;
}
.progress {
  width: 255px;
  height: 70px;
  margin: 0 auto;
}
.progress .box {
  width: 25px;
  height: 25px;
  background: #D8FA3C;
  border: 3px solid #666;
  float: left;
  margin: 0 10px;
}
form.inline {
  margin: 0;
  padding: 0;
  display: inline;
}
.clear { clear: both; }

