#search a, #search a.active, #search a:visited, #search a:link {
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  background-color:#222 !important;
  color:white !important; 
  margin-top: 5px;
}

#search a:hover {
  text-decoration:underline !important;
}

#search a.active {
  color:#D8FA3C !important;
}

#search_frame {
  border: 2px solid #222;
}
