<div id="nav" class="methods standard_form">
  <h1>Method List</h1>
  <ul>
  <% for obj in YARD::Registry.all(:method).sort_by {|o| o.path } %>
    <% next if obj.namespace == Registry.root %>
    <li nowrap="nowrap">
      <a href="<%= "/" + $github[:user] + "/" + $github[:project] + "/" + obj.path.to_s.gsub(/::/, "/") + ".html" + (obj.scope == :class ? '' : '#') + obj.name.to_s.gsub(/[^0-9A-Za-z\_\-]/, '-') %>"><%= obj.path + "." + obj.name.to_s %></a>
      <% if obj.namespace != Registry.root %>
        <em>(<%= obj.namespace.type %> <%= obj.namespace.name %>)</em>
      <% end %>
    </li>
  <% end %>
  </ul>
  <div class="actions">
    <div class="right">
      <label>
        <input type="button" value="Close" id="close_facebox"/>
      </label>
    </div>
  </div>
</div>