<div id="home">
  <div id="site" style="height:430px;">                                                     
    <div class="features" style="background:none;border:none;float:none;clear:both;margin-top:30px;">
      <p style="width:700px;position:absolute;padding:0;margin:0;left:50%;margin-left:-350px;">
      You should be redirected to the latest documentation automatically, if not please 
      <a href="/<%= $github[:user] %>/<%= $github[:project] %>/blob/<%= $github[:commit] %>">click here</a>.</p>
    </div>
  </div>
</div>    
