<div id="home">
  <div id="site" style="height:430px;">                                                     
    <div class="features" style="background:none;border:none;float:none;clear:both;margin-top:30px;">
      <p style="width:700px;position:absolute;padding:0;margin:0;left:50%;margin-left:-350px;">This documentation application is a custom website developed by Nick Plante and Jeff Rafter.
      If you run into problems please let us know or report the issues on the GitHub repository at <a href="http://github.com/docs/docs.github.com">http://github.com/docs/docs.github.com</a>.
      They have very graciously let us use their style because they are cool. In fact, you should sign up there now.</p>            
      <p>You should be redirected to the latest documentation automaticaly, if not please 
      <a href="/<%= $github[:user] %>/<%= $github[:project] %>/blob/<%= $github[:commit] %>">click here</a>.</p>
    </div>
  </div>
</div>    
