#nav ul { list-style: none; padding-left: 10px; margin: 0; margin-top: -1em; overflow:auto; height:300px; background-color:white; }
#nav ul li { white-space: nowrap; }
#nav li em { font-size: 0.9em; color: #999; }
#nav h1 { font-size: 1.2em; }

.aka { padding-right:0.5em }

.clear { clear: both; }

.section.module h1.title, .section.class h1.title, .section.readme h1 { color: #000; background: #ddd; border: 1px solid #ccc; padding: 7px; margin: 0; margin-bottom: 7px; }
.section.class h1.title { border-bottom: 0; margin-bottom: 0; }
.section.class > .section.docstring, .section.module > .section.docstring { padding: 0; }
#initialize-instance_method .methodsignature .return_types { display: none; }
.methodsignature .visibility { display: none; }
.methodsignature .name { font-weight: bold; }
.methoddetails .method_header h3 { display: none; }
.section.method { background: #eee; margin-bottom: 0.8em; }
.section.tags,.section.docstring,.section.source { padding: 5px 12px; }
.section.method .details_title { font-size: 1.1em; background: #dde; padding: 7px; }
.section.method .details_title p.aliases { padding: 0; margin: 0; font-style: italic; font-size: 0.9em; }
.section.method .details_title p.aliases tt { font-weight: bold; font-style: normal; font-size: 1.1em; }
.section.constants dl { font-family: monospace; }
.section.constants dt { font-weight: bold; font-size: 1.1em; }
.section.constants dt:after { content: " = "; }
.section.constants dd { margin-bottom: 1em; }
.section.source .source_link { font-size: 0.9em; }
.section.source .source_code { display: none; }
/*.section.source .source_code pre { float: left; }*/
.section.attributes table { padding: 0; width: 100%; }
.section.attributes .readwrite { width: 5%; }
.section.attributes .name { font-weight: bold; width: 10%; }
.section.attributes .visibility { font-style: italic; color: #666; width: 5%; }
.section.attributes td, .section.attributes th { vertical-align: top; padding: 5px; }
.section.attributes th { padding-left: 0; text-align: left; }
.section.attributes .docstring p.returns { color: #555; font-style: italic; }
.section.attributes .docstring .return_types { font-style: normal; }
.section.attributes .docstring { width: 80%; }
.section.attributes .docstring * { display: inline; }
.section.inheritance { background: #ddd; padding: 5px; border: 1px solid #ccc; border-top: 0; }
.section.inheritance ul { list-style: none; padding-left: 2.2em; margin: 0; }
.section.inheritance ul li { line-height: 1.2em; }
.section.inheritance ul li:before { content: "↳ "; }
.section.inheritance > ul { padding-left: 5px; }
.section.inheritance > ul > li:before { content: ""; }
.section.inheritance > ul > ul { padding-left: 1em; }
.section.methodsummary table { width: 100%; }
.section.methodsummary td, .section.methodsummary th { background: #eee; vertical-align: top; padding: 5px; }
.section.methodsummary th { background: #dde; text-align: left; white-space: nowrap; padding-right: 12px; }
.section.methodsummary .signature { font-family: monospace; font-weight: normal; }
.section.methodsummary .signature .name { font-weight: bold; }
.section.methodsummary .signature .alias { display: block; }
.section.methodsummary .docstring { width: 80%; }
.section.methodsummary .docstring * { display: inline; }
.section.methodsummary .docstring p.returns { color: #555; font-style: italic; }
.section.methodsummary .docstring .return_types { font-style: normal; }
.section.tags div { clear: both; }
.section.tags h2 { display: none; }
.section.tags h3 { font-size: 1.0em; margin-top: 3px; }
.section.tags dl { margin-left: 2em; }
.section.tags .option table { width: 100%; border: 0; padding: 0; }
.section.tags .option th { text-align: left; background: #e5e5e5; padding: 3px; }
.section.tags .option td.name { font-family: monospace; }
.section.methodmissing p.note { font-style: italic; }
.section.constructor p.inherited_msg { font-style: italic; }
.included h1, .inherited h1 { font-size: 1em !important; border: 0; margin: 0; padding: 5px; border-bottom: 1px solid #ccc; }
.included div, .inherited div { color: #444; margin: 1.5em 0; width: 47%; border: 1px solid #ccc; float: left; margin-right: 12px; }
.included p .name, .inherited p .name { font-family: monospace; }
.included p, .inherited p { margin: 5px; }

/* these overrides are because I nest too deep, oh well */
.files table td {
border-bottom:0 !important;
padding:0 !important;
}

.files table {
margin:0 !important;
}

.files pre {
border:0 !important;
font-size:115% !important;
line-height:1.4em !important;
margin:0 !important;
overflow:auto !important;
}

.files .file .data .line_numbers {
background-color:#ECECEC !important;
border-right:1px solid #DDDDDD !important;
color:#AAAAAA !important;
padding:1em 0.5em !important;
text-align:right !important;
}

.highlight {
  padding-left:1em !important;
}

.files textarea{font-family:Monaco,"Courier New",monospace;border:1px solid #dedede;font-size:90%;background-color:#f8f8ff;padding:5px;}
.files .file{border:1px solid #dedede;font-family:Monaco,"Courier New",monospace;margin-bottom:1em;}
.files .file .meta{overflow:hidden;font-size:90%;padding:.5em 1em;color:#666;background-color:#eaeaea;border-bottom:1px solid #ddd;}
.files .file .meta .info{float:left;}
.files .file .meta .info span{margin-right:3em;}
.files .file .meta .actions{float:right;text-align:right;}
.files .file .meta .actions a{margin-left:2em;}
.files .file .data{font-size:80%;overflow:auto;background-color:#f8f8ff;}
.files .image{padding:1.2em;text-align:center;}
.files .image img{max-width:60em;}
.files .file .data pre,.files .file .line-data{font-family:'Bitstream Vera Sans Mono','Courier',monospace;font-size:115%;}
.files .file .data .highlight div{padding-left:1em;}
.files .file .data .line_numbers{background-color:#ececec;color:#aaa;padding:1em .5em;border-right:1px solid #ddd;text-align:right;}
.files .file .data .line_numbers span,.files .file .data .line_numbers a{color:#aaa;cursor:pointer;}
.files .file .glif{background-color:#f0f0f0;border-bottom:1px solid #dedede;padding:.5em 0;}
.files .file .glif table{margin:0 auto;}
.files .file .glif table td{font-size:70%;text-align:center;color:#888;}
.files .file .glif table canvas{border:1px solid #ddd;background-color:white;}
.files .bubble{background:url(/images/modules/commit/off_comment_bubble.png) no-repeat;color:white;height:1.4em;margin:-0.2em 0 0 -9.6em;padding:.1em .8em 0 0;padding-left:0!important;position:absolute;width:1.5em;cursor:pointer;}
.files .bubble.commented{background:url(/images/modules/commit/comment_bubble.png) no-repeat;}
.files .meta .bubble{font-family:'Bitstream Vera Sans Mono','Courier',monospace;margin:-0.2em 0 0 -3.9em;height:1.5em;}
.files .empty{background:none;}
.files .bubble span{display:block;line-height:1.4em;text-align:center;}

pre.code .val { color:#008080 !important; }
pre.code .dstring { color: #DD1144 !important; }
pre.code .fid, pre.code .id.new, pre.code .id.to_s, 
pre.code .id.to_sym, pre.code .id.to_f, 
pre.code .dot + pre.code .id,
pre.code .id.to_i pre.code .id.each { color: #FF6400 !important; }
pre.code .comment { color:#999988 !important; font-style:italic; }
pre.code .constant, pre.code .symbol { color:#008080 !important; }
pre.code .kw { color: black !important; font-weight: bold !important; }
pre.code .ivar { color: #008080 !important; }
pre.code .gvar, pre.code .id.nth_ref { color: #BADEFF !important; }
pre.code .regexp, .dregexp { color: #EA5EFB !important; }
pre.code .self {color:#445588 !important; font-weight:bold !important;}
