title:            'rdoc.info'
rdoc_url:         '/rdoc'
rdoc_dir:         '/Users/nap/dev/rdocinfo/rdoc'
tmp_dir:          '/Users/nap/dev/rdocinfo/tmp/projects'
url_base:         'http://localhost:4567/'
per_page:         15
max_search_terms: 5
task_log:         '/Users/nap/dev/rdocinfo/log/task.log'
database:         'sqlite3:///Users/nap/dev/rdocinfo/rdocinfo.db'
hoptoad_api_key:  ''
