title:            'rdoc.info'
rdoc_url:         '/rdoc'
template:         'github'
templates_dir:    '/Users/nap/dev/rdocinfo/templates'
rdoc_dir:         '/Users/nap/dev/rdocinfo/tmp/test/rdoc'
tmp_dir:          '/Users/nap/dev/rdocinfo/tmp/test/projects'
url_base:         'http://localhost:4567/'
per_page:         15
max_search_terms: 5
task_log:         '/Users/nap/dev/rdocinfo/log/task.log'
github_doc_pages: 'file:///Users/nap/dev/rdocinfo/tmp/test/pages'
enable_push:      true
database:         'sqlite3::memory:'
