# This file is not copied to or used by your rails environment. The only time
# these settings are used is when you have executed rake test:database. This 
# file makes it easy to test alternate database drivers with Spreadhead. The
# default testing environment uses the rails default (sqlite3).
development:
  adapter: mysql
  database: spreadhead_development
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  database: spreadhead_test
  username: root
  password: 
  host: localhost