<h2>New page</h2>

<% form_for @page do |form| %>
  <%= render :partial => '/spreadhead/pages/form', :object => form %>
  <div class="submit">
    <%= form.submit 'Create', :disable_with => 'Please wait...' %>
  </div>  
<% end %>