<div class="inherited">
  <% inherited_constants_by_class do |klass, consts| %>
  <div>
    <h2>Constants Inherited from <%= linkify klass %></h2>
    <p><%= format_object_name_list consts %></p>
  </div>
  <% end %>
</div>
<div class="clear"></div>